/* start navbar section  */
.nav {
  background-color: #efefef;
  overflow: hidden;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.active {
  border-bottom: 2px solid orangered;
}
.nav a.brand {
  color: orangered;
  font-size: 22px;
}
.nav a {
  color: rgb(64, 74, 64);
  padding: 4px 16px;
  font-size: 16px;
  text-align: center;
  float: right;
  line-height: 51px;
}
.hamber {
  display: none;
}
.nav a:hover {
  border-bottom: 2px solid orangered;
}
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.hamber {
    display: block;
    float: left;
  }
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.hamber {
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav.responsive a {
    display: block;
    float: none;
    text-align: right;
  }
}
/* end navbar section  */
