.teacher-section-wrapper {
  background-image: url(../img/background-teacher-section.png);
}
.teacher-intro {
  background: #fff;
  width: 80%;
  height: auto;
  box-shadow: 2px 5px 5px 0px #6b6a6a;
  border-radius: 2px;
  top: 95%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.teacher-intro h3 span {
  background-color: orangered;
  padding: 1px 10px;
  color: #fff;
  border-radius: 1px
}
.teacher-intro h3 {
  margin: 30px 0 80px 0;
}
@media screen and (max-width: 700px) {
  .teacher-intro h3 {
    margin: 30px 0 15px 0;
  }
}
.teacher-intro a {
  display: inline-block;
  border: 1px solid orangered;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 10px;
  transition: .5s ease-out;
}
.teacher-intro a:hover {
  color: #fff;
  background-color: orangered;
  border-radius: 4px;
}
